.modal {
    position: fixed;
    width: 100%;
    z-index: 20;
    background-color: transparent;
    top: 210px;
    @media (min-width: 768px) {
        top: 130px;
    }
    @media (min-width: 1920px) {
        width: 1920px;
    }

    .ReactModal__Overlay {

        &.ReactModal__Overlay--after-open {
            background-color: rgba(0, 0, 0, 0.7);
            transition: background-color 0.5s ease;
            height: 100vh;
        }
        .overlay {
        }
    }

    .ReactModal__Content {
        height: 750px;
        padding: 0px;
        @media (min-width: 768px) {
            padding: 40px;
        }
        &.ReactModal__Content--after-open { 
        }
    }
}
.modal-content {
    overflow-y: auto;
    height: 100%;
   
    .modal-body {
        border-radius: 0;
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 768px) {
            border-radius: 10px;
        }
        .want-bay {
            width: 100%;

        }
        .bay-logick {
            
            .bady-sum {
                width: 300px;
                height: 200px;
                border: 2px solid rgb(1, 255, 43);
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: sticky;
                h3{
                    color: rgb(1, 255, 43);
                }
                button{
                    width: 250px;
                    justify-content: center;
                }
            }
        }
        .favorite-guds {
        }
        
    }
}