.card {
    width: 300px;
    height: 270px;
    
    .image {
        height: 160px;
        position: relative;

        img{
            border-radius: 10px 10px 0 0;
            height: 160px;
            width: 300px;
            object-fit: cover;
        }


    }
    .description {
        width: 300px;
        height: 110px;
        border-radius: 0 0 10px 10px;
        background-color: #8383FF;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        a{
            font-size: 16px;
            color: rgb(255, 255, 255);
            &:hover{
                color: rgb(55, 0, 255);
            }
        }
        .logic {
            display: flex;
            justify-content: space-between;
            .price {
                display: flex;
                justify-content: left;
                align-items: center;
                column-gap: 20px;
                .discount{
                    font-size: 24px;
                    color: red;
                }
                .real-price{
                    font-size: 20px;
                    color: rgb(255, 255, 255);
                }
            }

        }
    }
}
.load-more-button{
    min-width: 300px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        margin-right: 70px;
        height: 70px;
        width: 70px;
        min-width: 70px;
        font-size: 18px;
        padding: 0;
    }
}

