.shop-logik{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 100%;
    overflow: hidden;
    @media (min-width: 1920px) {
        width: 1580px;
    }
    .collections {
        padding: 0 25px;
        width: 100%;
        .chapter {
            display: flex;
            flex-direction: column;
            height: auto;
            padding: 5px 0;
            width: 100%;
            text-align: left;
            .link{
                a{
                    font-size: 30px;
                    width: auto;
                }
            }
            .products {
                display: flex;
                column-gap: 20px;
                border-bottom: 1px solid rgb(255, 255, 255) ;
                .product-conteiner {
                    display: flex;
                    column-gap: 20px;
                    padding: 5px 0;
                    overflow-x: auto;
                }
            }
        }
    }
}
