.conteiner-biznes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    .bay-line-info {
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        width: 100%;
        margin: 5px 0;
        padding: 0px;
        @media (min-width: 425px) {
            padding: 20px;
        }
        @media (min-width: 1200px) {
            width: 50%;
            
        }
        .product-main-continer{
            background-color: cadetblue;
            border-radius: 10px;
            padding: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            @media (min-width: 512px) {
                flex-direction: row;
            }
            .guds-img {
    
                img{
                    width: 200px;
                    height: 200px;
                    border-radius: 10px;
                }
            }
            .guds-info {
                padding: 10px;
                text-align: left;
                p{color: #000;}
            }
        }
        .feaces-product{
            margin: 10px 0;
            padding: 10px;
            min-height: 100px;
            background-color: coral;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between; 
            flex-direction: column;

            @media (min-width: 425px) {
                flex-direction: row;
            }
            .special-services {
                p{
                    color: black;
                }
            }
        }
    
    
    }
    .speciall-order{
        width: 100%;
        padding: 20px;
        overflow-x: hidden;

        h2{
            color: black;
            text-align: center;
            
        }
    }
    .logic-calculator{
        width: 100%;
        display: flex;
        justify-content: center;
        .bay-logick {
                
        }
    }

}
