.aside{
    min-width: 300px;
    width: 320px;
    height: auto;
    max-height: 100%;
    min-height: 100vh;
    border-right: 1px solid rgb(149, 149, 149);
    background: rgb(73, 65, 78);
    position: absolute;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 3;
    @media (min-width: 668px) {
        position: static;
        transform: translateX(0%);
        background: none;
        width: 17%;
    }
    .aside-continer{
        height: auto;
        position: sticky;
        top: 130px;
        left: 0;
        z-index: 2;
        

        .list{
            display: flex;
            flex-direction: column;
            padding: 20px;
            border-bottom: 1px solid rgb(149, 149, 149);
            a, li{
                display: flex;
                justify-content: left;
                align-items: center;
                text-align: left;
                img{}
                p{
                    font-size: 20px;
                }
                

            }
            li{
                color: rgb(0, 0, 0);
            }
            
        }
    }
    
}
.show-aside{
    transform: translateX(0%);
    height: 100%;
    .aside-continer{
        
        max-height: 100%;
        overflow-y: auto;
    }
    
}

.active-link {
    text-decoration: none;
}
  
.active-link p {
    color: red;
}

.active-link:hover p {
    color: blue;
}

.inactive-link {
    text-decoration: none;
}

.inactive-link p {
    color: rgb(25, 105, 225);
}

.inactive-link:hover p {
    color: rgb(94, 188, 255);
}