.aside{
    min-width: 280px;
    width: 300px;
    height: auto;
    min-height: 100vh;
    border-right: 1px solid white;
    background: rgb(62, 46, 71);
    position: fixed;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 3;

    @media (min-width: 668px) {
        position: static;
        transform: translateX(0%);
        background: none;
        width: 340px;
    }
    .aside-continer{
        height: auto;
        position: sticky;
        top: 130px;
        left: 0;
        z-index: 2;

        .list{
            display: flex;
            flex-direction: column;
            padding: 20px;
            border-bottom: 1px solid white;
            a, li{
                display: flex;
                justify-content: left;
                align-items: center;
                text-align: left;
                img{}
                p{
                    font-size: 20px;
                }
            }
            li{
                color: black;
            }
            
        }
    }
    
}
.show-aside{
    transform: translateX(0%);
}