.product-creator-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: relative;
    @media (min-width: 1820px) {
        width: 1820px;
    }
    row-gap: 20px;

    .product-line{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: left;
        column-gap: 20px;
        margin: 10px 0;
        padding: 0 10px;
        overflow-x: auto;
        overflow-y: hidden;
        
        .box-sizwe{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            button{
                width: 110px;
                height: 30px;
                font-size: 22px;
            }
        }
        .product-container{
            width: 100%;
            height: auto;
            
            display: flex;
            justify-content: left;
            align-items: center;
            column-gap: 20px;
            
        }
    } 

    .donuts-box {
        width: 100vi;
        display: flex;
        justify-content: center;
        max-width: 1000px;
        .box-conteinr{
            height: 250px;
       
            position: relative;
            display: flex;
            justify-content: center;
            @media (min-width: 575px) {
                height: 442px;
            }
            @media (min-width: 768px) {
                height: 700px;
            }
            .main-box {
                position: absolute;
                .box{
                    position: relative;
    
                    .BodyBox{
                        width: 90vi;
                        max-width: 1000px;
                        @media (min-width: 1224px) {
                            width: 50vi;
                            
                        }
                    }
                    .BodyBoxTop{
                        width: 90vi;
                        max-width: 1000px;
                        @media (min-width: 1224px) {
                            width: 50vi;
                        }
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 1;
                    }
                }
                
            }
            .slots {
                position: absolute;
                top: 0;
                padding: 10px;
                width: 78vi;
                height: 45vi;
                max-width: 1000px;
                max-height: 560px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                
                transform: perspective(600px) rotateX(9deg);
                transform-origin: center top;
                
                @media (min-width: 1224px) {
                    width: 43vi;
                    height: 25vi;
                    max-width: 1000px;
                }

                .marix-item{
                    
                    img{
                        margin: 0.2vi;
                        
                        width: 9.2vi;
                        height: 14vi;
                        max-width: 140px;
                        max-height: 190px;
                        transform: perspective(25vi) rotateX(-15deg);
                        transform-origin: center top;

                        @media (min-width: 1224px) {

                            width: 5.5vi;
                            height: 8vi;
                        }
                    }
                   
                }
            }
            .cap-box {
                position: absolute;
                max-width: 1000px;
                
                .Lied {
                    position: relative;
                    display: flex;
                    width: 100%;
                    max-width: 1000px;
                    transform-origin: center top;
                    z-index: 3;
                    transform-style: preserve-3d;
                    transition: transform 2s ease; /* Добавляем анимацию для перехода transform */
            
                    transform: perspective(200px) rotateX(270deg);
                    @media (min-width: 575px) {
                        transform: perspective(370px) rotateX(270deg);
                    }
                    
                    img {
                        max-width: 1000px;
                        
                        width: 82vi;
                        z-index: 2;
                    }

            
                    @media (min-width: 1224px) {
                        img {
                            width: 45vi;
                        }
                    }
            
                    .bakc-lied {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: rotateX(180deg) translateZ(0.5px);
                        background-color: #5C3317;
                        backface-visibility: visible;
                        border-radius: 20px 20px 0 0;
                        z-index: 2;
                    }
                }
            
                .Lied.activ {
                    transform: perspective(200px) rotateX(7deg);
                    @media (min-width: 575px) {
                        transform: perspective(370px) rotateX(7deg);
                    }
                }
            }
        }
        
    }
    .total-price-conteiner {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        bottom: 0;
        z-index: 2;
        width: 100vi;
        height: 180px;
        border-radius: 10px;
        pointer-events: none;
        
        @media (min-width: 1224px) {
           top: 30px;
           right: 10px;
           width: 180px;
           height: 100vh;
           flex-direction: column;
           justify-content: center;position: fixed;

        }
        .price {
            
            width: 180px;
            background-color: cadetblue;
            border-radius: 10px;
            margin: 20px;

            p{
                font-size: 30px;
                color: black;
            }
        }
    }

    

}


