.checkout {
    width: 100%;
    min-height: 100vh;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    @media (min-width: 440px) {
        padding: 20px;
    }
    .order {
        background-color:cadetblue;
        border-radius: 0px;
        .order-product {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            flex-direction: column;
            text-align: left;
            align-items: center;

            
            .orderImg {
                img{
                    width: 200px;
                    height: 200px;
                    border-radius: 10px;
                }
                
            }
            .by-items{
                ul{
                    li{
                        img{
                            width: 27px;
                            border-radius: 50px;
                        }
                        span{
                            font-size: 18px;
                            color: rgb(23, 36, 222);
                        }
                    }
                }
            }
           
        }
        @media (min-width: 440px) {
            border-radius: 10px;
            .orderproduct{
                flex-direction: row;
            }
            
        }
    }
    .persondata{
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 20px;
            .paid {
                background-color: greenyellow;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid black;
            }
       
            .inputs {
                width: 400px;
            }
            button{
                justify-content: center;
            }
        }
    }
}



