.checkout {
    width: 100%;
    min-height: 100vh;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    @media (min-width: 440px) {
        padding: 20px;
    }
    .order {
        background-color:cadetblue;
        border-radius: 0px;
        .orderproduct {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            flex-direction: column;
            text-align: left;
            align-items: center;

            
            .orderImg {
                img{
                    width: 120px;
                    height: 120px;
                    border-radius: 10px;
                }
                
            }
            p{
                padding: 10px;
                text-align: left;
            }
            h3{

            }
            ul{
                
            }
        }
        @media (min-width: 440px) {
            border-radius: 10px;
            .orderproduct{
                flex-direction: row;
            }
            
        }
    }
    .persondata{
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 20px;
            .paid {
                background-color: greenyellow;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid black;
            }
       
            .inputs {
                width: 400px;
            }
            button{
                justify-content: center;
            }
        }
    }
}



