main{
    min-height: 100vh;
    .chose-collection{
        width: 100%;
        @media (min-width: 1920px) {
            width: 1920px;
            
        }
        
        height: auto;
        padding: 0 25px;
        .collection-name{
            p{
                font-size: 48px;
                font-family: 'Modak';
            }
        }
        .back{
            position: relative;
            button{
                position: fixed;
                width: auto;
            }
        }
        .card-conteiner{
            height: auto;
            display: flex;
            justify-content: center;
            flex-wrap:wrap;
            column-gap: 10px;
            row-gap: 10px;
        }
    
    }
}
