.collection-main{
    min-height: 100vh;
    width: 100%;
    @media (min-width: 1920px) {
        width: 1920px;
    }
    .chose-collection{
        width: 100%;
        @media (min-width: 1920px) {
            width: 1920px;
        }
        
        height: auto;
        padding: 0 25px;
        .collection-name{
            padding-top: 35px;
            p{
                font-size: 48px;
                font-family: 'Modak';
            }
        }

        .card-conteiner{
            height: auto;
            display: flex;
            justify-content: center;
            flex-wrap:wrap;
            column-gap: 10px;
            row-gap: 10px;
            text-align: left;
        }
    
    }
}
