.special-order {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:cadetblue;
    width: 230px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    row-gap: 20px;
    border-radius: 10px;
 
    .special-img {
        img{
            width: 200px;
            border-radius: 10px;
        }

    }
    .info-product-container{
        
        .special-info {
            p{
                color: black;
            }
        }
        .special-price-info {
            p{
                color: rgb(255, 1, 1);
                font-size: 30px;
            }
        }
    }
}