
.speciall-product-list{
    position: relative;
    .special-order-products {
        display: flex;
        justify-content: left;
        column-gap: 10px;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 10px;
        border-radius: 10px;
        background-color: aquamarine;
        
        .peciall-product-list{
            
        }
        
    }
    
    .dell{
        position: absolute;
        top: 10px;
        right: 10px;
        button{
            width: auto;
        }
    }
}


.total-price {
    background-color: greenyellow;
    
    border-radius: 10px;
    h2{}
}
