header{
    background: linear-gradient(180deg, #541111 0%, #541149 100%);
    width: 100vi;
    height: auto;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

    @media (min-width: 768px) {
        display: block;
    }

    nav{
        display: flex;
        justify-content: center;

        .nav-conteiner{
            display: flex;
            align-items: center;
            column-gap: 20px;
            flex-direction: column;
            padding: 0 20px;
            width: 100%;

            .links{
                display: flex;
                column-gap: 20px;
                padding: 10px 0;
                flex-grow:1;
                a{
                    font-size: 18px;
                    border-radius: 50px;
                }
            }
            .logo{
                
                h4{
                    font-size: 26px;
                    font-family: 'Modak';
                    
                }
            }
            @media (min-width: 768px) {
                flex-direction: row;
                justify-content: space-between;
                .links{
                    
                    a{
                        font-size: 24px;
                    }
                }
                .logo{
                    
                    h4{
                        font-size: 34px;
                    }
                }
            }
            @media (min-width: 1920px) {
                width: 1920px;
            }
        }
    }

}