header{
    background: linear-gradient(180deg, #541111 0%, #541149 100%);
    width: 100vi;
    height: 70px;
    
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    nav{
        display: flex;
        justify-content: center;

        .nav-conteiner{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            padding: 0 25px;
            width: 100%;
            @media (min-width: 1920px) {
                width: 1920px;
            }
            .links{
                display: flex;
                column-gap: 20px;
                a{
                    font-size: 24px;
                }
            }
            .logo{
                h4{
                    font-size: 44px;
                    font-family: 'Modak';
                    
                }
            }
        }
    }

}