
.nav-categories {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    @media (min-width: 1920px) {
        width: 1520px;
    }
    .categories {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
        column-gap: 5px;
        border-bottom: 1px solid rgb(57, 57, 57);
        width: 100%;
        @media (min-width: 800px) {
            width: 600px;
        }
        a {
            button {
                width: auto;
                height: 30px;
                
                p {
                    font-size: 18px;
                }
            }
        }
    }
}