.bady-sum {
    width: 300px;
    height: 200px;
    border: 2px solid rgb(1, 255, 43);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: sticky;
    .real{
        color: rgb(73, 73, 73);
        text-decoration: line-through;
    }
    .diskount{
        color: rgb(1, 255, 43);
    }
    button{
        width: 250px;
        justify-content: center;
    }
}