.animation{
    width: 100%;
    height: 1020px;
    overflow: hidden;
    position: relative;
    
    .animation-conteiner{
        width: 1920px;
        height: auto;
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        transform: rotate(25deg) translateY(-270px) translateX(-580px);
    }
}