.animation{
    width: 100%;
    aspect-ratio: 6/4;
    overflow: hidden;
    position: relative;
    @media (min-width: 768px) {
        aspect-ratio: 6/2;
    }
    .animation-conteiner{
        width: 1920px;
        height: auto;
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        transform: rotate(25deg) translateY(-270px) translateX(-580px);
    }
}