.animation-line {
    width: 150px;
    display: flex;
    flex-direction: column;
    animation: moveUp 90s linear infinite;
    @media (min-width: 425px) {
        width: 320px;
    }
    img {
        width: 150px;
        height: auto;
        border-radius: 15px;
        margin:  3px 5px;
        @media (min-width: 425px) {
            width: 320px;
        }
    }
}

    @keyframes moveUp {
        0% {
            transform: translateY(0%);
        }
        100% {
            transform: translateY(-15%);
        }
    }
@media (min-width: 425px) {

    @keyframes moveUp {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-38%);
        }
    }
}
